.button {
  min-width: 100px;
  padding: 10px;
  font-size: var(--font-size-small);
  border-radius: 5px;
  font-family: var(--font-family-main);
  font-weight: var(--font-bold);
  background: none;
  outline: none;
  transition: var(--transition);
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  color: var(--color-gray);
  border-color: var(--color-gray);
  background-color: transparent;
  cursor: not-allowed; /* Изменение курсора на "не разрешено" */
  pointer-events: auto; /* Позволяет кнопке игнорировать события указателя, т.е. она не будет реагировать на нажатия и наведение */
}

.dark {
  border: 2px solid var(--color-white);
  color: var(--color-white);
}
.dark:hover {
  background-color: var(--color-white);
  color: var(--color-black);
}

.light {
  color: var(--color-black);
  border: 2px solid var(--color-black);
}
.light:hover {
  color: var(--color-white);
  background-color: var(--color-black);
}
