:root {
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #9c9c9c;
  --color-light-gray: #dfe2df;

  --font-size-small: 14px;
  --font-size-medium: 16px;
  --font-bold: 600;
  --font-family-main: sans-serif;

  --transition: 0.4s;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

img {
  display: block;
}
